entrypoint = "index.html"
modules = ["web", "nodejs-20", "python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-24_11"
packages = ["cargo", "glibcLocales", "libiconv", "rustc", "static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Selling-Options.com Server"

[[workflows.workflow]]
name = "Selling-Options.com Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38589
externalPort = 3000

[[ports]]
localPort = 41583
externalPort = 3001

[[ports]]
localPort = 43937
externalPort = 3002

[agent]
expertMode = true
