Flask==2.3.3
Flask-Session==0.6.0
psycopg2-binary==2.9.7
bcrypt==4.0.1
# Pin NumPy to a version compatible with pandas wheels
numpy==1.26.4
pandas==2.0.3
yfinance==0.2.18
requests==2.31.0

# production WSGI server
gunicorn==21.2.0

Werkzeug==3.0.3
polygon-api-client
urllib3
